.otherTab {
  width: 100%;
  padding: 1.5rem 1rem;
  background: var(--color-surface-high-initial);
  box-shadow: 0px 0px 0.625rem 0rem #e9e9e9;
  border-radius: 0.75rem;

  .otherTabHeader {
    color: var(--color-text-strong-default);
    font-size: 1rem;
    font-weight: 700;
  }

  .otherTabContent {
    margin-top: 1.5rem;
    @include flex(flex-start, flex-start, column, 0.5rem);

    .fieldContainer {
      width: 100%;
      padding: 0.5rem;
      border-bottom: 0.0625rem solid var(--color-stroke-softer-initial);
      @include flex(flex-start, flex-start, column, 0.75rem);

      .fieldName {
        width: 100%;
        @include flex(space-between, center, row, initial);
        span {
          overflow: hidden;
          color: var(--color-text-softer-default);
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 0.875rem;
          font-weight: 400;
        }

        .editIcon {
          cursor: pointer;
          @include centerEl;
        }
      }
      .fieldValue {
        .editField {
          width: 26.3125rem;
          @include flex(flex-start, center, row, 0.75rem);

          & > .acceptIcon,
          .declineIcon {
            cursor: pointer;
            @include centerEl;
          }
        }
        span {
          overflow: hidden;
          color: var(--color-text-strong-default);
          text-overflow: ellipsis;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
    }
  }

  .noData {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}
