.preview {
  @include flex(space-between, flex-start, row, 1rem);

  .applyFormPreviewWrapper {
    width: 26.5rem;
    // height: 42rem;
    overflow: auto;
    max-height: 42.1875rem;
    padding: 2rem;
    border-radius: 1.25rem;
    background: #fff;
    box-shadow: 0rem 0rem 1.875rem 0rem #efefef;
    h1 {
      color: var(--color-text-strong-default);
      text-align: left;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
    }
    & > ul {
      margin-top: 2.5rem;

      li {
        padding: 1rem 0;
        border-bottom: 0.0625rem solid var(--color-stroke-soft-initial);
        span {
          color: var(--color-text-softer-default);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 450;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          display: block;
        }
      }
    }
  }

  .details {
    width: calc(100% - 26.5rem - 2rem);
    & > h1 {
      color: var(--color-text-strong-default);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
    }
    .renderDocument {
      margin-top: 1rem;
    }

    .additionalDetails {
      margin-top: 2rem;
      @include flex(flex-start, flex-start, column, 1rem);
      li {
        width: 100%;
        padding: 0.5rem 0;
        border-bottom: 0.0625rem solid var(--color-stroke-softer-initial);
        @include flex(space-between, flex-start, row, initial);
        span {
          &:first-child {
            color: var(--color-text-softer-default);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
          }
          &:nth-child(2) {
            color: var(--color-text-strong-default);
            text-align: right;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 50%;
          }
        }
      }
    }
  }
}
