.infoPanel {
  margin-top: 1.5rem;
  @include centerEl;
  & > ul {
    @include flex(center, center, row, 1rem);

    li {
      width: 8.125rem;
      padding: 0.75rem 0.625rem;
      border: 0.0625rem solid;
      @include flex(flex-start, center, row, 0.75rem);

      .dotMark {
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }

      border-radius: 0.5rem;
      &:first-child {
        border-color: #b8e1f2;
        background: rgba(184, 225, 242, 0.1);
        .dotMark {
          background: #30acd0;
        }
      }

      &:nth-child(2) {
        border-color: #fee2d9;
        background: rgba(242, 171, 60, 0.1);
        .dotMark {
          background: #ff8862;
        }
      }

      &:nth-child(3) {
        border-color: #f3efd4;
        background: rgba(243, 241, 228, 0.1);
        .dotMark {
          background: #aea48e;
        }
      }
      &:nth-child(4) {
        border-color: #edd0f1;
        background: rgba(223, 161, 232, 0.1);
        .dotMark {
          background: #dfa1e8;
        }
      }
      h2 {
        overflow: hidden;
        color: var(--color-text-strong-default);
        text-overflow: ellipsis;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.6875rem;
      }

      span {
        overflow: hidden;
        color: var(--color-text-soft-default);
        text-overflow: ellipsis;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25rem;
      }
    }
  }
}

.statusTemplateContainer {
  width: fit-content;
  margin: auto;
  @include centerEl;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  border-radius: 1.5rem;
  span {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
  }
}
.templateOfficeOrg {
  h2 {
    overflow: hidden;
    color: var(--color-text-strong-default);
    text-overflow: ellipsis;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
  }
  span {
    overflow: hidden;
    color: var(--color-text-softer-default);
    text-overflow: ellipsis;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
  }
}

.reNewIcon {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.5625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 2rem;
  border: 0.0625rem solid var(--color-stroke-strong-initial);
  cursor: pointer;
}
