.boardWrapper {
  width: 100%;
  margin-top: 2rem;
  //   @include flex(flex-start, flex-start, row, 1rem);
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: 1fr;
  grid-gap: 1.5rem;
  overflow: auto;
}

.boardContainer {
  background: var(--color-surface-canvas-initial);
  width: 17.5rem;
  min-height: 47.75rem;
  padding: 0.75rem 0.5rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--color-stroke-softer-initial);

  &.active {
    border: 0.125rem solid #30acd0;
    background: var(--color-surface-canvas-pressed);
  }

  & > div {
    width: 100%;
    min-height: 50%;
    @include flex(flex-start, flex-start, column, 1rem);
    margin-top: 1rem;

    & > div {
      width: 100%;
    }
  }

  .containerTitle {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4875rem;
  }
}
