ul.commentsList {
  max-height: 38rem;

  li {
    border-bottom: 0.0625rem solid #e1e4e5;
    padding: 1rem 0;
    &:not(&:first-child) {
      margin-top: 1rem;
    }

    h3 {
      overflow: hidden;
      color: #30acd0;
      text-overflow: ellipsis;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.4375rem;
    }

    span {
      margin-top: 0.75rem;
      overflow: hidden;
      color: var(--day-color-text-softer-default);
      text-overflow: ellipsis;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
    }

    p {
      margin-top: 0.5rem;
      color: var(--day-color-text-strong-dark);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
    }
  }
}
