.applyFormWrapper {
  height: calc(100vh - 10rem);
  overflow: auto;

  & > ul {
    width: 100%;
    @include flex(flex-start, left, column, 0.5rem);
    & > li {
      width: 100%;
      border-bottom: 0.0625rem solid var(--color-stroke-softer-initial);
      padding: 1rem;

      &.expanded {
        background: var(--color-surface-canvas-initial);
        .topContent h2 {
          color: #30acd0;
        }
      }

      .topContent {
        @include flex(space-between, center, row, initial);

        h2 {
          color: var(--color-text-strong-default);
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem;
        }

        .expandButtton {
          cursor: pointer;
        }
      }

      .innerContent {
        .customFieldAdd {
          .singleCustomField {
            margin-top: 1rem;
            position: relative;

            .deleteCustomField {
              position: absolute;
              top: -0.3125rem;
              right: -0.3125rem;
              cursor: pointer;
            }
          }

          .addFieldButton {
            margin: 1rem auto;
            cursor: pointer;
            width: 11.875rem;
            height: 2rem;
            border-radius: 0.375rem;
            border: 0.0625rem solid var(--color-stroke-strong-initial);
            @include flex(center, center, row, 1rem);
            span {
              color: var(--color-text-strong-default);
              font-size: 0.625rem;
              font-style: normal;
              font-weight: 700;
              text-transform: capitalize;
            }
          }
        }

        .singleField {
          padding: 1rem;
          padding-left: 0;
          border-bottom: 0.0625rem solid var(--color-stroke-softer-initial);

          @include flex(space-between, center, row, initial);
          .leftSide {
            h3 {
              color: var(--color-text-strong-default);
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.1875rem;
            }
          }
          .rightSide {
            @include flex(flex-stat, center, row, 1rem);

            & > div {
              @include flex(flex-start, left, row, 0.5rem);
              span {
                color: var(--color-text-softer-default);
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
