.placementsWrapper {
  height: calc(100vh - 10rem);
  overflow: auto;

  form {
    overflow: visible;
    & > ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      overflow: visible;
      grid-gap: 1.5rem 1rem;
    }
    .checkBoxField {
      margin-top: 1rem;
      @include flex(flex-start, flex-start, column, 2rem);
      & > div {
        @include flex(flex-start, left, column, 1rem);
        & > div {
          @include flex(flex-start, center, row, 1rem);
        }
      }

      .iconWrapper {
        @include centerEl;
      }
    }

    .tagsList {
      margin-top: 1rem;
      @include flex(flex-start, center, row, 0.5rem);
      flex-wrap: wrap;
    }
  }
}
