.sortableItem {
  padding: 0.5rem;
  width: 48.9375rem;

  &.expanded {
    background: var(--color-surface-canvas-initial);
    .itemTitle {
      color: #30acd0 !important;
    }
  }
  .topContent {
    @include flex(space-between, center, row, unset);

    .leftSide {
      @include flex(flex-start, center, row, 0.5rem);
      .itemTitle {
        color: var(--color-text-strong-default);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
      }
      .orderIndex {
        width: 2.5rem;
        height: 1.5rem;
        padding: 0rem 0.75rem;
        @include centerEl;
        border-radius: 0.25rem;
        border: 0.0625rem solid var(--color-stroke-strong-initial);
        background: var(--color-surface-high-initial);
        color: var(--color-text-soft-default);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
      }
    }
    .rightSide {
      @include flex(flex-end, center, row, 1rem);
      span {
        color: var(--color-text-warning-initial);
        text-align: right;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
      }
    }
    .grabIcon {
      cursor: grab;
    }

    .expandIcon {
      cursor: pointer;
    }
  }

  .bottomContent {
    margin-top: 1rem;
    @include flex(flex-start, unset, column, 1rem);
  }
}

.sortableItemsList {
  margin-top: 1.75rem;
  width: 100%;
  height: calc(100% - 8rem);
  overflow-y: auto;
  padding: 0.5rem;
  background: transparent;
  @include flex(flex-start, unset, column, 1rem);
}

.criteriaTags {
  @include flex(flex-start, center, row, 0.5rem);
  flex-wrap: wrap;
}
