.candidateCard {
  border-radius: 0.375rem;
  border: 1px solid var(--color-stroke-softer-initial);
  background: var(--color-surface-high-initial);
  padding: 0.75rem 0.875rem;
  @include flex(flex-start, flex-start, column, 1.375rem);
  position: relative;

  .actions {
    position: absolute;
    top: 0.75rem;
    right: 0.875rem;
    cursor: pointer;

    .actionsDropdown {
      border-radius: 0.25rem;
      border: 0.0625rem solid var(--color-stroke-soft-initial);
      background: var(--color-surface-high-initial);
      padding: 0.75rem 0.5rem;
      @include flex(flex-start, flex-start, column, 1rem);
      z-index: 10;

      .actionItem {
        @include flex(flex-start, flex-start, row, 0.5rem);

        &:hover {
          background: rgba(var(--color-text-strong-default), 0.3);
        }

        .actionIcon {
          @include centerEl;
          flex-shrink: 0;
        }

        .actionName {
          span {
            color: var(--color-text-strong-default);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .candidateInfo {
    width: 100%;
    @include flex(flex-start, flex-start, row, 0.75rem);
    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      @include centerEl;
      overflow: hidden;
      cursor: pointer;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .noAvatar {
      width: 2.5rem;
      height: 2.5rem;
      @include centerEl;
      background: #e1e4e5;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      span {
        color: #00adee;
      }
    }
  }
  .candidateName {
    width: 100%;

    & > div {
      width: calc(100% - 2rem);
      @include flex(flex-start, flex-start, row, 0.5rem);
      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 13.75rem;
        cursor: pointer;
      }
    }

    .isFavourite {
    }

    & > div {
      span {
        color: var(--color-text-strong-default);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
      }
    }

    span.score {
      overflow: hidden;
      color: var(--color-text-soft-default);
      text-overflow: ellipsis;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
    }
  }

  .tags {
    @include flex(flex-start, center, row, 0.5rem);
    flex-wrap: wrap;
  }
}
