.currentCandidatesContent,
.archivedCandidatesContent {
  .currentCandidatesHeader {
  }

  .quickActions {
    margin-top: 1rem;
    li.quickAction {
      width: fit-content;
      cursor: pointer;
      &:hover {
        background: var(--color-surface-high-inverted-initial);
        span {
          color: #fff;
        }
      }

      border-radius: 0.5rem;
      border: 0.0625rem solid #ebebeb;
      padding: 0.5rem 0.75rem;

      span {
        overflow: hidden;
        color: var(--color-text-strong-default);
        text-overflow: ellipsis;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
      }
    }
  }

  .quickActionWithLength {
    @include flex(flex-start, center, row, 0.75rem);
    span {
      color: var(--color-text-strong-default);
      font-size: 0.875rem;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  .quickFilters {
    ul {
      @include flex(flex-start, center, row, 0.5rem);

      li:not(.quickAction) {
        border-radius: 1.125rem;
        border: 0.0625rem solid var(--color-stroke-softer-initial);
        background: var(--color-surface-high-initial);
        @include centerEl;
        padding: 0.3rem 0.6rem;
        cursor: pointer;
        &:hover {
          background: var(--color-surface-high-inverted-initial);
          span {
            color: #fff;
          }
        }

        &.active {
          background: var(--color-surface-high-inverted-initial);
          span {
            color: #fff;
          }
        }

        span {
          overflow: hidden;
          color: var(--color-text-strong-default);
          text-overflow: ellipsis;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
  }

  .currentCandidatesGrid {
    margin-top: 1.5rem;
    .gridQuickActions {
      .quickActionsList {
        margin-top: 1.5rem;
        ul {
          @include flex(flex-start, center, row, 0.5rem);

          li {
            cursor: pointer;

            &:hover:not(:first-child) {
              background: var(--color-surface-high-inverted-initial);
              span {
                color: #fff;
              }
            }
            &:not(:first-child) {
              border-radius: 0.5rem;
              border: 0.0625rem solid #ebebeb;
              padding: 0.5rem 0.75rem;
            }

            span {
              overflow: hidden;
              color: var(--color-text-strong-default);
              text-overflow: ellipsis;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .stageDotMark {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    border: 0.1875rem solid #d1d5d6;

    &.passed {
      background: #30acd0;
      border: 0.1875rem solid transparent;
    }

    &.current {
      border: 0.1875rem solid #30acd0;
    }

    &:not(:last-child) {
      &::after {
        content: "";
        width: 0.625rem;
        height: 0.125rem;
        background: #d1d5d6;
        position: absolute;
        top: 50%;
        right: -0.75rem;
        transform: translate(0, -50%);
      }
    }
  }

  .summaryWrapper {
    margin-top: 1.5rem;
    @include flex(center, center, row, 1rem);
    .infoPanelCount {
      width: auto;
      height: 4.4375rem;
      padding: 0.75rem 0.625rem;
      border-radius: 0.5rem;
      border: 0.0625rem solid #edd0f1;
      background: rgba(223, 161, 232, 0.1);
      @include flex(flex-start, center, row, 0.5rem);
      overflow: hidden;

      &:not(:first-child) {
        border: 0.0625rem solid #f3efd4;
        background: rgba(243, 241, 228, 0.1);
      }

      & > div:first-child {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #dfa1e8;
        flex-shrink: 0;
      }

      & > div:last-child {
        @include flex(flex-start, flex-start, column, 4px);
        span {
          white-space: nowrap;
        }
        span:first-child {
          overflow: hidden;
          color: var(--color-text-strong-default);
          text-overflow: ellipsis;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
        }

        span:last-child {
          overflow: hidden;
          color: var(--color-text-soft-default);
          text-overflow: ellipsis;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
  }
}
