.personalInformationForm {
  & > ul.avatarAndType {
    @include flex(flex-start, flex-start, column, 16px);
    & > li {
      &.candidateType {
        @include flex(flex-start, center, row, 24px);

        & > div {
          @include flex(flex-start, center, row, 12px);
          cursor: pointer;
          span {
            color: var(--color-text-strong-default);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.4375rem;
          }
        }
      }
    }
  }

  & > ul:not(.avatarAndType) {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    overflow: visible;
    & > li {
      width: 100%;

      &.phoneNumber,
      &.salary {
        & > div {
          display: grid !important;
          gap: 0 !important;
          grid-template-columns: 1.3fr 3fr;
          grid-template-rows: 1fr;
        }
      }
      &.salary {
        & > div {
          grid-template-columns: 3fr 1.3fr !important;
        }
      }
    }
  }

  .socialMediaFields {
    margin-top: 2.5rem;
    h2 {
      color: var(--color-text-strong-default);
      font-size: 0.75rem;
      font-weight: 700;
    }
    & > ul {
      margin-top: 1rem;
      @include flex(flex-start, flex-start, column, 1rem);

      li.profileField {
        width: 90%;
        @include flex(flex-start, center, row, 1rem);

        .delete {
          cursor: pointer;
        }
      }
    }
  }
}
