.stageDotMark {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  border: 0.1875rem solid #d1d5d6;

  &.passed {
    background: #30acd0;
    border: 0.1875rem solid transparent;
  }

  &:not(:last-child) {
    &::after {
      content: "";
      width: 0.625rem;
      height: 0.125rem;
      background: #d1d5d6;
      position: absolute;
      top: 50%;
      right: -0.75rem;
      transform: translate(0, -50%);
    }
  }
}
