.uploadPhotoContent {
  width: 6.25rem;
  height: 6.25rem;
  position: relative;
  border-radius: 50%;
  background: var(--color-surface-canvas-initial);
  overflow: hidden;

  .uploadIcon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
    @include centerEl;

    .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .uploadedPhoto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}
